<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>
<div>
    <h2>User List</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Age</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}">Id</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <span th:each="role : ${user.role}" th:text="${role.getRole()} + '; '">Roles</span>
            </td>
            <td>
                <button>
                <a th:href="@{/admin/edit(id=${user.id})}">Edit</a>
                </button>
            </td>
            <td>
                <!-- Отправка формы на удаление пользователя -->
                <form th:action="@{/admin/delete(id=${user.id})}" method="POST">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </table>
</div>
<div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Log out" />
    </form>
</div>
<div>
    <form th:action="@{/admin/adduser}" method="GET">
        <input type="submit" value="Add new user" />
    </form>
</div>
</body>
</html>