<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Id: ' + user.getId()+ ' Username:' + user.getUsername()}">VALUE</p>
<p th:text="${'Username:' + user.getUsername()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>